<div class="wrapper">
  <div class="hoc clear">
    <!-- ################################################################################################ -->
    <figure id="introblocks">
      <ul class="nospace group">
        <li class="one_third first"><a href="#"><img src="assets/images/demo/320x240.png" alt=""></a></li>
        <li class="one_third"><a href="#"><img src="assets/images/demo/320x240.png" alt=""></a></li>
        <li class="one_third"><a href="#"><img src="assets/images/demo/320x240.png" alt=""></a></li>
      </ul>
    </figure>
    <p class="center"><a class="btn" href="#">Top Articles</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
