<div class="backlightgryborder">
    <div class="backlightgry">
      <div class="row crow">
        <div class="col-md-12" *ngIf="!updateMode">
          <h3>Add New Category</h3>
          <span>Add new news category to be more specific...</span>
        </div>
        <div class="col-md-12" *ngIf="updateMode">
          <h3>Update Category</h3>
          <span>Update news category to be more specific...</span>
        </div> 
      </div>
    </div>
  
  <div class="backlightgreenborder">
  
   
  <mat-tab-group  animationDuration="0ms" [backgroundColor]="bgColor" [color]="color" >
      <mat-tab>
        <ng-template mat-tab-label matTaContent>
         <h1>Category Details.</h1>
        </ng-template>
        <section id="form">
          <div class="container ">
            <div class="row">
              <div class="col-md-12  ">
                <div class="row">
                  <div class="col-md-12">
                    <form [formGroup]='metaData' autocomplete="off">
                      
                        <div class="form-row">
                          
                            <div class="form-group col-md-2">
                                <h5 class="text-left">Title</h5> 
                            </div>
                            <div class="form-group col-md-10"> 
                             <input type="name" class="form-control" id="inputDado" formControlName="title" placeholder="Enter Title for Category" (change)="postContent()">
                           </div>
                            <div class="form-group col-md-2">
                                <h5 class="text-left">Description</h5> 
                            </div>
                            <div class="form-group col-md-10"> 
                                <textarea class="form-control" formControlName="description" placeholder="Enter Category description" (change)="postContent()"></textarea>
                           </div>
                          
                          
                          
                          
                          
                          
                          
  
     
                       
                        </div> 
                       
                        <button type="submit" *ngIf="updateMode" class="btn btn-primary cbuttonm" (click)="updateCategory(metaData)">Update</button>
                        <button type="submit" *ngIf="!updateMode" class="btn btn-primary cbuttonm" (click)="postCategory(metaData)">Add</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </mat-tab>
     
    </mat-tab-group>
    </div></div>