<div class="backlightgryborder">
    <div class="backlightgry">
        <div class="row crow">
          <div class="col-md-12">
            <h3>News Contents</h3>
            <span>View all News...</span>
          </div> 
        </div>
      </div>
    <div class="backlightgreenborder">
        <div class="backlightgry" *ngFor="let content of contents"> 
            <div class="row crow">
                <div class="col-md-2"><img src="{{content.picture_url}}" class="img-part"></div>
                <div class="col-md-9">
                    <h2>{{content.title}}</h2>
                    <p>{{content.content}}</p></div>
                    <div class="col-md-1 padding0">
                        
    <button type="button" class="btn btncstm" (click)="btnClick(content.id)" >Edit</button></div>
                <!-- <div class="col-md-12">
                    <h3>All News</h3>
                    <span>Get all the news live...</span>
                </div>  -->
            </div>
        </div>
    </div>
</div>

    <!-- <div class="backlightgreenborder">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4 img-part">
                    aaaaaaaaaaaaaaa
                </div>
            </div>
        </div>
        
    </div>
</div> -->
