<div class="wrapper bgded overlay coloured" style="background-image:url('assets/images/demo/backgrounds/02.png');">
  <article class="hoc cta clear">
    <!-- ################################################################################################ -->
    <h6 class="three_quarter first">Enter a Sports Quote</h6>
    <footer class="one_quarter"><a class="btn" href="#">View all </a></footer>
    <!-- ################################################################################################ -->
  </article>
</div>
