
<div *ngFor="let category of categories">
<div *ngIf="category.contents">
<div class="wrapper bgded overlay coloured" id="{{category.title}}" >
  <article class="hoc cta clear">
    <!-- ################################################################################################ -->
    <h6 class="three_quarter first">Positivity of {{category.title}}</h6>
    <footer class="one_quarter"><a class="btn" href="category/{{category.id}}">View all </a></footer>
    <!-- ################################################################################################ -->
  </article>
</div>
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <!-- <article class="group btmspace-80">
      <div class="two_third first"><img class="borderedbox inspace-10" src="assets/images/demo/660x360.png" alt=""></div>
      <div class="one_third">
        <h6 class="heading">Per inceptos himenaeos donec lacinia mollis vel</h6>
        <ul class="nospace meta">
          <li><i class="fa fa-user"></i> <a href="#">Admin</a></li>
          <li><i class="fa fa-tag"></i> <a href="#">Tag Name</a></li>
        </ul>
        <p>Aliquam mauris morbi tristique orci sit amet sapien tincidunt ut rutrum dui tincidunt.</p>
        <p class="btmspace-30">Cras eget lacinia magna nunc ut est est cras aliquam erat sem at dapibus lorem luctus sed nunc sagittis leo in&hellip;</p>
        <footer class="nospace"><a class="btn" href="#">Full Story &raquo;</a></footer>
      </div>
    </article> -->
    <!-- ################################################################################################ -->
    <hr class="btmspace-80">
    <!-- ################################################################################################ -->
    <ul class="nospace group overview">
      <li class="one_third"  *ngFor="let content of category.contents">
        <article *ngIf="content.is_approved=='YES'"><a href="#"><img src="{{content.picture_url}}" alt=""></a>
          <h6 class="heading">{{content.title}}</h6>
          <span>{{content.description}}</span>
          <ul class="nospace meta">
            <li><i class="fa fa-user"></i> 
              <a href="#">
                <span *ngIf="content.users_id==0">Admin</span>
              </a>
            </li>
            
            <li><i class="fa fa-tag"></i> <a href="#">{{category.title}}</a></li>
          </ul>
          <p>{{content.content}}</p>
          <footer class="nospace"><a class="btn" href="{{content.source_url}}">Full Story &raquo;</a></footer>
        </article>
      </li>
      
      
      
    </ul>
    <div class="col-md-12" *ngIf="!category.contents">
      NO Contents Found
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
</div>
</div>

